@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
a {
  color: inherit;
  text-decoration: none;
}

.timeBorder{
  position: relative;
  border: 10px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.timer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bttn{
  top:50%;
  left: 50%;
}

* {
  box-sizing: border-box;
  
}
.h-css{
  height: 450px !important;
}
.imgbackSignIn{
  background-image: url('../public/assets/alexander-redl-d3bYmnZ0ank-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width:calc(100% /3 * 2)
}
.bg-signup{
  background: url('../public/assets/boxed-water-is-better-y-TpYAlcBYM-unsplash.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.imgbackexer{
  height:35vh;
  width:100%;
  border-radius: 20px 0 0 20px;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
